{% extends "base.html.twig" %}
{% block title %}Liste des tâches{% endblock %}
{% set pageTitle = "" %}


{% block main %}
    <div class="mt-2 row">
        <div class="col-12">
            <img alt="Bannière" class="w-100" loading="lazy" src="{{ asset('build/images/banner/small_banner.webp') }}">
        </div>
    </div>

    {% if tasks | length == 0 %} 
        <div class="alert alert-warning mt-2" role="alert">
            <span>Il n'y a pas encore de tâche enregistrée.</span>
            <a href="{{ path('tasks_create') }}">
                <button class="btn btn-warning">Créer une tâche</button>
            </a>
        </div>
    {% else %}
        <div class="mt-2 row">
            <div class="col-auto mt-2 mt-md-0">
                <a href="{{ path('tasks_create') }}">
                    <button class="btn btn-primary" type="button">Créer une nouvelle tâche</button>
                </a>
            </div>
            <div class="col-auto mt-2 mt-md-0">
                <a href="{{ path('tasks_list_completed') }}">
                    <button class="btn btn-info" type="button">Consulter la liste des tâches terminées</button>
                </a>
            </div>
            <div class="col-auto mb-2 ms-auto">
                <a href="{{ path('tasks_create') }}">
                    <button class="btn btn-secondary">Créer une tâche</button>
                </a>
            </div>
        </div>

        <div class="container px-0">
            {% for row in tasks | batch(3) %}
                <div class="mb-4 row">
                    {% for task in row %}
                        <div class="col-lg-4 col-md-12" id="{{ loop.index }}">
                            <div class="img-thumbnail h-75 overflow-auto">
                                <div class="d-flex justify-content-between">
                                    <a class="fs-5 text-decoration-none" href="{{ path('tasks_edit', {'taskId': task.id, 'type': 'uncompleted'}) }}">
                                        <span>{{ task.title }}</span>
                                    </a>
                                    <span class="fs-5 fw-bold">✗</span>
                                </div>
                                <p class="mb-2 mt-4">{{ task.content }}</p>
                            </div>
                            <div class="d-flex h-25 justify-content-end mt-1 row">
                                {% if app.user == task.user or is_granted("ROLE_ADMIN") %}
                                    <div class="col-3">
                                        <a href="{{ path('tasks_delete', {'taskId': task.id, 'type': 'uncompleted'}) }}">
                                            <button class="btn btn-danger">Supprimer</button>
                                        </a>
                                    </div>
                                {% endif %}
                                <div class="col-auto">
                                    <a href="{{ path('tasks_completed', {'taskId': task.id}) }}">
                                        <button class="btn btn-success">Marquer comme faite</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
